@model AlquilerDeBicicletas.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaDePago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaDePago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.formaDePago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.formaDePago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.esPagoBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.esPagoBase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.alquiler)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.alquiler.alquilerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.pagoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
