@model IEnumerable<AlquilerDeBicicletas.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formaDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.esPagoBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alquiler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formaDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.esPagoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alquiler.alquilerID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pagoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pagoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pagoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
