@model AlquilerDeBicicletas.Models.Accesorio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accesorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaDeIngreso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaDeIngreso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoDeAccesorio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoDeAccesorio.tipoDeAccesorioID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.accesorioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
