@model IEnumerable<AlquilerDeBicicletas.Models.Accesorio>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaDeIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoDeAccesorio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDeIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoDeAccesorio.tipoDeAccesorioID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.accesorioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.accesorioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.accesorioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
