@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2500">
    <!--
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
        -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <p class="img-responsive" style="text-align: center;"> <img src="~/images/BMX.jpg" /> </p>
        </div>
        <div class="item">
            <p class="img-responsive" style="text-align: center;"> <img src="~/images/MOUNTAIN BIKE.jpg" /> </p>
        </div>
        <div class="item">
            <p class="img-responsive" style="text-align: center;"> <img src="~/images/PLAYERA.jpg" /> </p>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


@model IEnumerable<AlquilerDeBicicletas.Models.TipoDeBici>

<br>
<br>

<div style="background-color:grey;">
    @using (Html.BeginForm())
    {
        List<TipoDeBici> biciList = ViewData["tipoDeBiciList"] as List<TipoDeBici>;

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button name="tipoDeBici" class="btn btn-success" value="0">
                    <h4>Mostrar todos</h4>
                </button>
            </div>
            @for (int i = 0; i < biciList.Count(); i++)
            {
                <div class="btn-group" role="group">
                    <button name="tipoDeBici" class="btn btn-info" value="@biciList[i].tipoDeBiciID">
                        <h4>@Html.DisplayFor(x => biciList[i].nombre)</h4>

                    </button>
                </div>
            }
        </div>
    }

    <div class="grid catalogo">
        @{ List<bool> tipoDeBiciAvailable = ViewData["tipoDeBiciAvailable"] as List<bool>; }

        @foreach (var item in Model)
        {

            string clase;
            if (tipoDeBiciAvailable[item.tipoDeBiciID - 1])
            {
                clase = "disponible";
            }
            else
            {
                clase = "noDisponible";
            }

        <div class="bici @clase">
            @{
                string dir = item.nombre + ".jpg";
            }
            <a id="@clase@item.tipoDeBiciID" asp-controller="Alquileres" asp-action="Create" asp-route-id=@item.tipoDeBiciID>
                <img src="~/images/@dir" class="img-responsive" />
                <div class="centrado">
                    @{
                        string mensaje = "";
                        if (clase == "noDisponible")
                        {
                            mensaje = "SIN STOCK";
                        }
                        <img src="@mensaje" />
                        <p>@mensaje</p>
                    }
                </div>
            </a>
            <h3 class="nombreBici">@Html.DisplayFor(modelItem => item.nombre)</h3>
            <p class="precioBici">$@Html.DisplayFor(modelItem => item.precioBase) base p/hora</p>
            <p class="descripcionBici">@Html.DisplayFor(modelItem => item.descripcion)</p>
            <script>
                document.querySelector('#noDisponible'+@item.tipoDeBiciID).removeAttribute('href');
            </script>
        </div>
        }
    </div>

</div>
