@model IEnumerable<AlquilerDeBicicletas.Models.Alquiler>

@{
    ViewData["Title"] = "Historial";
}

<h2>Historial</h2>

<!--<div class="card">
    <div class="card-body">-->
        @*<p>
            @Html.DisplayNameFor(model => model.estadoAlquiler)
        </p>*@
        @*<p>
            @Html.DisplayNameFor(model => model.fechaDesde)
        </p>*@
        @*<p>
            @Html.DisplayNameFor(model => model.fechaHasta)
        </p>*@
        @*<th>
                @Html.DisplayNameFor(model => model.cambioFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horasBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEntregaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horasExtras)
            </th>*@
        <!--<p>
            @Html.DisplayNameFor(model => model.totalAPagarBase)
        </p>-->
        @*<th>
                @Html.DisplayNameFor(model => model.totalAPagarExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlquilerDeBicicletasUsers_ID)
            </th>*@
        <!--<p>
            @Html.DisplayNameFor(model => model.bicicleta.tipoDeBici)
        </p>
    </div>-->

@*</div>*@
@foreach (var item in Model)
{
    String dir = item.bicicleta.tipoDeBici.nombre + ".jpg";
<div class="container-fluid" style="border-style: solid; background-color:#4cbcd2">
    <img src="~/images/@dir" class="pull-right img-responsive" style="max-height:225px; padding: 5px;" />
    <div class="card-body " style="margin: auto; padding: 15px;">
        <p>
            @Html.DisplayNameFor(model => model.estadoAlquiler):
            @Html.DisplayFor(modelItem => item.estadoAlquiler)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.fechaDesde):
            @Html.DisplayFor(modelItem => item.fechaDesde)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.fechaHasta):
            @Html.DisplayFor(modelItem => item.fechaHasta)
        </p>
        @*<td>
            @Html.DisplayFor(modelItem => item.cambioFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horasBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntregaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horasExtras)
        </td>*@
        <p>
            @Html.DisplayNameFor(model => model.totalAPagarBase): $
            @Html.DisplayFor(modelItem => item.totalAPagarBase)
        </p>
        @*<td>
            @Html.DisplayFor(modelItem => item.totalAPagarExtra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlquilerDeBicicletasUsers_ID)
        </td>*@
        <p>
            @Html.DisplayNameFor(model => model.bicicleta.tipoDeBici):
            @Html.DisplayFor(modelItem => item.bicicleta.tipoDeBici.nombre)
        </p>

        <a asp-action="Edit" asp-route-id="@item.alquilerID" class="btn btn-success">Pagar</a>
        @*<p>
            <a asp-action="Edit" asp-route-id="@item.alquilerID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.alquilerID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.alquilerID">Delete</a>
        </p>*@




        @*<p>
            @Html.DisplayNameFor(model => model.accesorios):
        </p>
        @foreach (var itema in item.accesorios)
        {
            String dirAcce = itema.tipoDeAccesorio.nombre;
            <img src="~/images/@dirAcce" class="pull-left img-responsive" style="max-height:75px;padding: 15px;" />
        }*@

    </div>
    
</div>
<br />
}


